<div class="size-full grid grid-cols-2">
  <div
    class="size-full rounded-full bg-piece-5"
    hx-trigger="mouseenter, touchstart"
    hx-get="6.html"
    hx-swap="outerHTML"
  ></div>
  <div
    class="size-full rounded-full bg-piece-5"
    hx-trigger="mouseenter, touchstart"
    hx-get="6.html"
    hx-swap="outerHTML"
  ></div>
  <div
    class="size-full rounded-full bg-piece-5"
    hx-trigger="mouseenter, touchstart"
    hx-get="6.html"
    hx-swap="outerHTML"
  ></div>
  <div
    class="size-full rounded-full bg-piece-5"
    hx-trigger="mouseenter, touchstart"
    hx-get="6.html"
    hx-swap="outerHTML"
  ></div>
</div>
